
.container
{
    position: sticky;
    max-width: 1200px;
    width: auto;
    height: auto;
    background-color: #CC3300;
    margin-top: 15px;
    padding-top: 20px;
    padding-bottom: 10px;
}
#header {
    background-color: #CC3300;
    margin-left: 15%;
}
#citroen {
    position: relative;
    max-width: 695px;
    min-width: 200px;
    width: auto;
    height: auto;
    border: 2px solid black;
    border-radius: 5px;
}
.listenelement{
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;
    padding-bottom: 10px;
}
a:visited {
    color: #00BFB1;
}
a:link {
    color: #00BFB1;
}
.weiss {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding-left: 17%;
    padding-right: 37%;
    max-width: 800px;
    width: auto;
}
.gelb {
    color: #FF9900;
    padding-left: 35px;
}
img {
    border-radius: 5px;
    margin: auto;
}
nav input[type="checkbox"] {
    display: none;
}
nav {
    background: #CC3300;
    display: block;
    justify-content: left;
    align-items: flex-start;
}
nav ul {
    height: min-content;
    width: 238px;
    background: #CC3300;
    display: block;
    position: relative;
    flex-direction: column;
    justify-content: right;
    align-items: center;
    list-style: none;
    top: 15px;
}
nav li {
    height: 100%;
    width: 100%;
    text-align: left;
}
nav ul a {
    height: 100%;
    width: 100%;
    display: block;
    align-items: flex-end;
    justify-content: flex-start;

    text-decoration: none;
}
nav input[type="checkbox"] {
    display: none;
}
.toggle_button {
    width: 30px;
    height: 23px;

    position: relative;
    top: 20px;
    left: 20px;

    display: none;
    flex-direction: column;
    justify-content: space-between;
}
.bar {
    height: 4px;
    width: 100%;
    background: #fff;
    border-radius: 100px;
}
@media(max-width: 850px) {
    .toggle_button {
        display: flex;
    }

    nav ul {
        background: #CC3300;
        top: 35px;
        display: none;
        position: relative;
        width: 95%;
    }
    nav li {
        top: 15px;
        height: 20px;
        width: 95%;
    }

    #toggle_button:checked ~ul {
        display: block;
    }
}
